@import 'partials/header';
body {
    background-color: black;
}

li {
    list-style: none;
}

.card {
    margin: 10px;
    background-image: url('/img/1488037.jpg');
    background-position: center;
    padding: 10px;
    height: 130px;
}

.active {
    color: lightcoral;
}
