header ul {
  display: flex;
}
header li {
  margin: 20px;
}
header a {
  text-decoration: none;
  color: lightgrey;
}
header a:hover {
  color: lightcoral;
}

body {
  background-color: black;
}

li {
  list-style: none;
}

.card {
  margin: 10px;
  background-image: url("/img/1488037.jpg");
  background-position: center;
  padding: 10px;
  height: 130px;
}

.active {
  color: lightcoral;
}