body {
  background-color: black;
}

header ul {
  display: flex;
}
header li {
  margin: 20px;
}
header a {
  text-decoration: none;
  color: lightgrey;
}
header a:hover {
  color: lightcoral;
}

li {
  list-style: none;
}

.card {
  margin: 10px;
  background-color: lightgray;
  padding: 10px;
  height: 120px;
}

.active {
  color: lightcoral;
}